<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Building List</title>
    <th:block th:replace="~{admin/common/header :: header}"></th:block>
</head>
<body class="no-skin" style="font-family: 'Abel', sans-serif;">
<th:block th:replace="~{admin/common/menu :: menu}"></th:block>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>
    <th:block th:replace="~{admin/common/sidebar :: sidebar}"></th:block>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Dashboard</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Danh sách tòa nhà
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            overview &amp; stats
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" method="GET" th:action="@{/admin/customers/list}"
                               id="customer-search-form" th:object="${customerSearchRequest}">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">Tìm kiếm</h4>

                                    <span class="widget-toolbar">
											<a href="#" data-action="reload">
												<i class="ace-icon fa fa-refresh"></i>
											</a>

											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>

											<a href="#" data-action="close">
												<i class="ace-icon fa fa-times"></i>
											</a>
										</span>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="row">
                                            <input type="hidden" name="page" id="page" th:value="${customerSearchRequest.page}">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <div class="col-xs-6">
                                                        <label for="fullName">Tên khách hàng</label>
                                                        <input type="text" id="fullName" name="fullName"
                                                               class="form-control"
                                                               th:value="${customerSearchRequest.fullName}"/>
                                                    </div>

                                                    <div class="col-xs-6">
                                                        <label for="email">Email</label>
                                                        <input type="number" id="email" name="email"
                                                               class="form-control"
                                                               th:value="${customerSearchRequest.email}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <div class="col-xs-5">
                                                        <label for="phone">Số điện thoại</label>
                                                        <input type="number" id="phone"
                                                               name="phone"
                                                               class="form-control"
                                                               th:value="${customerSearchRequest.phone}"/>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <label for="status">Trạng thái</label>
                                                        <select name="status" class="form-control"
                                                                id="status">
                                                            <option value="">--Chọn trạng thái--</option>
                                                            <option th:each="s : ${status}"
                                                                    th:value="${s.key}"
                                                                    th:text="${s.value}"
                                                                    th:selected="${customerSearchRequest.status != null
                                                                    and customerSearchRequest.status.name() == s.key}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                                            <label for="staffId">Nhân viên</label>
                                                            <select name="staffId" class="form-control"
                                                                    id="staffId">
                                                                <option value="">--Chọn nhân viên--</option>
                                                                <option th:each="staff : ${staffs}"
                                                                        th:value="${staff.key}"
                                                                        th:text="${staff.value}"
                                                                        th:selected="${staff.key == customerSearchRequest.staffId}">
                                                                </option>
                                                            </select>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <div class="col-xs-6">
                                                        <button class="btn btn-sm btn-success"
                                                                id="btnSearchCustomer">
                                                            <i class="ace-icon glyphicon glyphicon-search"></i>
                                                            Tìm kiếm
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="pull-right">
                            <a href="/admin/customers/edit" class="btn btn-app btn-success btn-sm"
                               title="Thêm tòa nhà">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-building-add" viewBox="0 0 16 16">
                                    <path
                                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0" />
                                    <path
                                            d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z" />
                                    <path
                                            d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                                </svg>
                            </a>
                            <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                <button class="btn btn-app btn-danger btn-sm" title="Xóa tòa nhà"
                                        id="btnDeleteCustomer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-building-dash" viewBox="0 0 16 16">
                                        <path
                                                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7M11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1" />
                                        <path
                                                d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z" />
                                        <path
                                                d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
                                    </svg>
                                </button>
                            </th:block>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="buildingList" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace">
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>Tên khách hàng</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th>Nhu cầu</th>
                                <th>Người thêm</th>
                                <th>Ngày thêm</th>
                                <th>Tình trạng</th>
                                <th>Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer : ${customerPage.content}">
                                <td class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" th:value="${customer.id}">
                                        <span class="lbl"></span>
                                    </label>
                                </td>
                                <td th:text="${customer.fullName}"></td>
                                <td th:text="${customer.phone}"></td>
                                <td th:text="${customer.email}"></td>
                                <td th:text="${customer.demand}"></td>
                                <td th:text="${customer.createdBy}"></td>
                                <td th:text="${customer.createdDate}"></td>
                                <td th:text="${customer.status}"></td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                            <button class="btn btn-xs btn-success" title="Giao khách hàng"
                                                    th:onclick="|assignmentCustomer(${customer.id})|">
                                                <i class="ace-icon fa fa-users"></i>
                                            </button>
                                        </th:block>

                                        <a th:href="@{/admin/customers/{id}/update(id=${customer.id})}"
                                        class="btn btn-xs btn-info" title="Sửa thông tin khách hàng">
                                            <i class="ace-icon fas fa-pencil-alt bigger-120"></i>
                                        </a>

                                        <th:block sec:authorize="hasRole('ROLE_MANAGER')">
                                            <button class="btn btn-xs btn-danger" title="Xóa khách hàng"
                                                th:onclick="|deleteCustomer(${customer.id})|">
                                                <i class="ace-icon fas fa-trash bigger-120"></i>
                                            </button>
                                        </th:block>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="page-navigator" th:if="${customerPage.totalPages > 1}">
                            <th:block th:each="page: ${#numbers.sequence(1, customerPage.totalPages)}">
                                <a th:if="${page != -1}"
                                   class="nav-item"
                                   th:classappend="${page == customerPage.number + 1} ? 'active-page' : ''"
                                   href="javascript:void(0)"
                                   th:data-page="${page}"
                                   th:text="${page}"
                                   onclick="gotoPage(this)">
                                </a>
                                <span th:if="${page == -1}" class="nav-item"> ... </span>
                            </th:block>
                        </div>

                    </div><!-- /.span -->
                </div>
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <th:block th:replace="~{admin/common/footer :: footer}"></th:block>
</div>
<div class="modal" tabindex="-1" role="dialog" id="assignmentCustomerModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Danh sách nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="staffList" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace">
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th class="center">Tên nhân viên</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAssignCustomer">Giao khách hàng</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <input type="hidden" id="customerId" value="">
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{admin/common/common-scripts :: jquery}"></th:block>
<script>

    function gotoPage(element){
        $(".page-navigator .nav-item").removeClass("active-page");
        $(element).addClass("active-page");
        const page = $(element).data("page");
        $('#page').val(page);
        $('#customer-search-form').submit();
    }


    function assignmentCustomer(customerId) {
        $('#assignmentCustomerModal').modal('show');
        $('#customerId').val(customerId);

        // console.log("1. Customer ID parameter:", customerId);
        //
        // $('#assignmentCustomerModal').modal('show');
        //
        // $('#customerId').val(customerId);
        //
        // console.log("2. Hidden customer ID:", $('#customerId').val());

        loadStaff(customerId);
    }

    $('#btnAssignCustomer').click(function (e){
        e.preventDefault();
        const customerId = $('#customerId').val();
        if(!customerId){
            alert("Khách tìm thấy id của khách hàng");
            return;
        }
        // const customerId = $('#customerId').val();
        //
        // console.log("3. Customer ID when assign:", customerId);
        //
        // if (!customerId) {
        //     alert("Customer Id not found");
        //     return;
        // }
        const staffId = [];
        $('#staffList tbody input[type="checkbox"]:checked').each(function () {
            staffId.push($(this).val());
        });

        const json = {};
        json['customerId'] = customerId;
        json['staffIds'] = staffId;
        sendRequestAssignCustomer(json);
    });

    function sendRequestAssignCustomer(json){
        $.ajax({
            url: '/api/customers/assign',
            type: 'PUT',
            timeout: 10000,
            data: JSON.stringify(json),
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                alert(response.message);
            },
            error: function (response) {
                alert(response.responseJSON.detail.join('\n'));
            }
        });
    }
    function loadStaff(customerId){
        $.ajax({
            url: '/api/customers' + '/' + customerId + '/staff',
            type: 'GET',
            timeout: 10000,
            dataType: 'json',
            success: function (response) {
                let row = '';
                $.each(response.data, function (i, staff){
                    row += '<tr>';
                    row += '<td class="center">';
                    row += '<label class="pos-rel"><input type="checkbox" class="ace" value="' + staff.id + '" ' + staff.checked + '><span class="lbl"></span>';
                    row += '</label>';
                    row += '</td>';
                    row += '<td class="center">' + staff.userName + '</td>';
                    row += '</tr>'
                });

                $('#staffList tbody').html(row);
            },
            error: function (response) {
                alert(response.responseJSON.detail.join('\n'));
            }
        });
    }
    $('#btnSearchCustomer').click(function (e) {
        e.preventDefault(); // Ngan chặn hành động mặc định của nút submit
        $('#page').val(1);
        $('#customer-search-form').submit(); // Gửi form sau khi đã ngăn chặn hành động mặc định

    });

    function deleteCustomer(customerId) {
        if (confirm('Bạn có chắc muốn xóa khách hàng này chứ?')) {
            requestDeleteCustomer([customerId]);
        }
    }

    $('#btnDeleteCustomer').click(function (e) {
        e.preventDefault();
        const selectedCustomerIds = [];
        $('#buildingList tbody input[type="checkbox"]:checked').each(function () {
            selectedCustomerIds.push($(this).val());
        });
        console.log('Selected building ID for deletion: ', selectedCustomerIds);
        if (selectedCustomerIds.length === 0) {
            alert('Vui lòng chọn ít nhát một tòa nhà để xóa');
            return;
        }
        if (confirm('Bạn có chắc muốn xóa các tòa nhà đã chọn?')) {
            requestDeleteCustomer(selectedCustomerIds);
        }
    });

    function requestDeleteCustomer(selectedCustomerIds) {
        $.ajax({
            url: '/api/customers' + '/' + selectedCustomerIds.join(','),
            type: 'DELETE',
            timeout: 10000,
            dataType: 'json',
            success: function (response) {
                alert(response.message);
                window.location.href = '/admin/customers/list';
            },
            error: function (response) {
                alert(response.responseJSON.detail.join('\n'));
            }
        });
    }
</script>
</body>
</html>